* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #2B2B2B;
}

.container {
  margin: 0px 72px;
}

.nav__contant {
  display: flex;
  align-items: center;
}

.nav__contant {
  justify-content: space-between;
  padding: 30px 60px;
}

.nav__ul {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav__li {
  font-size: 16px;
  color: #fff;
  font-weight: 600px;
  font-family: sans-serif;
  list-style: none;
}

.nav__btn {
  font-size: 16px;
  color: #fff;
  font-weight: 600px;
  font-family: sans-serif;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  background-color: #A259FF;
}

.header__h1 {
  font-size: 67px;
  color: #fff;
  font-weight: 600;
  font-family: sans-serif;
  max-width: 490px;
}

.header__h3 {
  font-size: 28px;
  color: #fff;
  font-weight: 600;
  font-family: sans-serif;
}

.header__p {
  opacity: 0.8;
  color: #fff;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  max-width: 510px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.dis__boxes {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.header_img_1 {
  max-width: 510px;
}

.header__contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.bars {
  display: none;
  font-size: 24px;
  color: #fff;
}

.main__img_big1 {
  max-width: 330px;
}

.main__img1 {
  max-width: 100px;
}

.main__contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px;
}

.dis__imges {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main__h3 {
  font-family: sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  color: white;
  margin: 80px 0px 0px 80px;
}

.main__p {
  color: #fff;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  margin: 10px 0px 0px 80px;
}

.main__p2 {
  color: #fff;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  margin: 15px 0px 0px 0px;
}

.dis__fonts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px;
}

.figure__h3 {
  color: #fff;
  font-family: sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
}

.section__h3 {
  color: #fff;
  font-family: sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  margin: 80px;
}

.figure__p {
  color: #fff;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
}

.figure__btn {
  padding: 15px 50px;
  background: none;
  font-size: 16px;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
  border: 2px solid #A259FF;
  border-radius: 20px;
}

.figure__img {
  max-width: 240px;
}

.figure__contant {
  margin: 60px 80px 0px 80px;
}

.figure__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.figure__box1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec__contant {
  margin: 30px 80px 0px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec__img {
  max-width: 240px;
}

.figure__img_2 {
  display: none;
}

.figure__btn2 {
  display: none;
  padding: 15px 50px;
  background: none;
  font-size: 16px;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
  border: 2px solid #A259FF;
  border-radius: 20px;
}

.article__contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 80px 0px 80px;
}

.a__img {
  max-width: 330px;
}

.a__img2 {
  max-width: 330px;
}

.a__img3 {
  max-width: 330px;
}

.wrapper {
  background: url(img/2_big.png);
  max-width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wraper__img {
  max-width: 151px;
}

.wrapper__h1 {
  font-family: sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 51px;
  font-style: normal;
  color: white;
  font-weight: 600;
}

.wrapper__btn {
  font-family: sans-serif;
  font-size: 16px;
  color: #2B2B2B;
  padding: 22px 55px;
  border: none;
  border-radius: 20px;
}

.wrapper__contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 260px 80px 60px 80px;
}

.itemes {
  margin: 40px 80px;
}

.item__contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 100px;
}

.item__box {
  background: #494949;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #000;
  max-width: 210px;
  height: 337px;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item__h4 {
  color: #FFF;
  text-align: center;
  font-family: sans-serif;
  padding-top: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.item__p {
  color: #FFF;
  padding-top: 10px;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.waring {
  background-attachment: fixed;
  background: #494949;
  max-width: 90%;
  border-radius: 20px;
  height: 430px;
  margin: 0 auto;
  padding: 60px;
}

.waring__contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.waring__h2 {
  font-family: sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  color: white;
}

.waring__p {
  padding-top: 10px;
  max-width: 425px;
  color: white;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.waring__img {
  margin-top: 40px;
}

.footer__contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 80px;
}

.footer__p {
  max-width: 238px;
  color: #ccc;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.dis__icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__sp {
  font-size: 20px;
  color: grey;
}

.footer__h5 {
  color: #FFF;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}

.footer__hr {
  height: 2px;
  width: 90%;
  margin: 0 auto;
}

.footer__p2 {
  max-width: 238px;
  color: #ccc;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 80px;
}


@media (max-width:1200px) and (min-width:990px) {
  .nav__ul {
    display: none;
  }

  .bars {
    display: block;
  }

  .header_img_1 {
    max-width: 330px;
  }

  .header__h1 {
    width: 330px;
    font-size: 38px;
  }

  .header__p {
    font-size: 16px;
    max-width: 330px;
  }

  .main__img1 {
    max-width: 70px;
  }

  .main__img_big1 {
    max-width: 240px;
  }

  .main__h3 {
    font-size: 28px;
  }

  .main__p {
    font-size: 16px;
  }

  .figure__h3 {
    font-size: 28px;
  }

  .figure__p {
    max-width: 343px;
    font-size: 16px;
  }

  .figure__btn {
    padding: 10px 35px;
  }

  .figure__img {
    max-width: 170px;
  }

  .sec__img {
    max-width: 150px;
  }

  .a__img {
    max-width: 270px;
  }

  .a__img2 {
    max-width: 270px;
  }

  .a__img3 {
    max-width: 270px;
  }

  .wrapper__img_2 {
    max-width: 250px;
  }

  .item__p {
    font-size: 12px;
  }

  .item__h4 {
    font-size: 16px;
  }

  .item__box {
    max-width: 210px;
  }

  .cos {
    display: none;
  }

  .waring__contant {
    justify-content: center;
    height: 200px;
  }

  .waring {
    height: 300px;
  }

  .footer__contant {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
  }
}

@media (max-width:989px) and (min-width:746px) {
  .nav__ul {
    display: none;
  }

  .bars {
    display: block;
  }

  .header_img_1 {
    max-width: 270px;
  }

  .header__h1 {
    width: 270px;
    font-size: 30px;
  }

  .header__p {
    font-size: 16px;
    max-width: 330px;
  }

  .main__img1 {
    max-width: 70px;
  }

  .main__img_big1 {
    max-width: 240px;
  }

  .main__div {
    display: none;
  }

  .main__h3 {
    font-size: 28px;
  }

  .main__p {
    font-size: 16px;
  }

  .figure__h3 {
    font-size: 28px;
  }

  .figure__p {
    max-width: 343px;
    font-size: 16px;
  }

  .figure__btn {
    padding: 10px 35px;
  }

  .figure__img {
    max-width: 140px;
  }

  .sec__img {
    max-width: 150px;
  }

  .a__img {
    max-width: 270px;
  }

  .a__img2 {
    max-width: 270px;
  }

  .a__img3 {
    max-width: 270px;
  }

  .a__img3 {
    display: none;
  }

  .wrapper__img_2 {
    max-width: 250px;
  }

  .item__p {
    font-size: 12px;
  }

  .item__h4 {
    font-size: 16px;
  }

  .item__box {
    max-width: 160px;
    height: 270px;
  }

  .cos {
    display: none;
  }

  .waring__contant {
    justify-content: center;
    height: 200px;
  }

  .waring {
    height: 300px;
  }

  .footer__contant {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
  }
}

@media (max-width:745px) and (min-width:660px) {
  .nav__ul {
    display: none;
  }

  .bars {
    display: block;
  }

  .header_img_1 {
    max-width: 270px;
  }

  .header__h1 {
    width: 270px;
    font-size: 30px;
  }

  .header__p {
    font-size: 16px;
    max-width: 330px;
  }

  .header__h3 {
    font-size: 22px;
  }

  .header__p {
    font-size: 16px;
  }

  .main__img1 {
    max-width: 70px;
  }

  .main__img_big1 {
    max-width: 240px;
  }

  .main__div {
    display: none;
  }

  .main__h3 {
    font-size: 28px;
  }

  .main__p {
    font-size: 16px;
  }

  .figure__h3 {
    font-size: 28px;
  }

  .figure__p {
    max-width: 343px;
    font-size: 16px;
  }

  .figure__btn {
    padding: 10px 35px;
  }

  .figure__img_2 {
    max-width: 250px;
    display: block;
  }

  .figure__img {
    display: none;
  }

  .sec__img {
    max-width: 130px;
  }

  .a__img {
    max-width: 270px;
  }

  .a__img2 {
    max-width: 270px;
    display: none;
  }

  .a__img3 {
    max-width: 270px;
    display: none;
  }

  .wrapper__img_2 {
    max-width: 350px;
  }

  .wrapper__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wrapper__contant {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .item__p {
    font-size: 12px;
  }

  .item__h4 {
    font-size: 16px;
  }

  .item__box {
    max-width: 160px;
    height: 270px;
  }

  .waring {
    height: 650px;
  }

  .waring__contant {
    flex-direction: column;
    gap: 30px;
  }

  .footer__contant {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}

@media (max-width:659px) and (min-width:520px) {
  .nav__ul {
    display: none;
  }

  .bars {
    display: block;
  }

  .header_img_1 {
    max-width: 395px;
  }

  .header__h1 {
    width: 415px;
    font-size: 30px;
  }

  .header__p {
    font-size: 16px;
    max-width: 330px;
  }

  .header__h3 {
    font-size: 22px;
  }

  .header__p {
    font-size: 16px;
  }

  .header__contant {
    flex-direction: column;
    gap: 50px;
  }

  .nav__btn {
    display: none;
  }

  .dis__boxes {
    display: none;
  }

  .main__img1 {
    max-width: 70px;
  }

  .main__img_big1 {
    max-width: 240px;
  }

  .main__div {
    display: none;
  }

  .main__div2 {
    display: none;
  }

  .main__contant {
    justify-content: center;
  }

  .main__h3 {
    font-size: 28px;
    text-align: center;
    margin: 0px;
    margin-top: 20px;
  }

  .main__p {
    font-size: 16px;
    text-align: center;
    margin: 0px;
    margin-top: 10px;
  }

  .figure__btn {
    display: none;
  }

  .figure__h3 {
    font-size: 28px;
  }

  .figure__p {
    max-width: 343px;
    font-size: 16px;
  }

  .fonts__figure {
    margin: 0 auto;
  }

  .figure__img_2 {
    max-width: 330px;
    display: block;
  }

  .figure__img {
    display: none;
  }

  .figure__box1 {
    flex-direction: column;
    gap: 20px;
  }

  .figure__box {
    flex-direction: column;
    gap: 20px;
    margin: 20px;
  }

  .figure__btn2 {
    display: block;
    margin: 20px auto;
  }

  .sec__img {
    max-width: 110px;
  }

  .sec__contant {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .a__img {
    max-width: 270px;
    margin: 0 auto;
  }

  .a__img2 {
    max-width: 270px;
    display: none;
  }

  .a__img3 {
    max-width: 270px;
    display: none;
  }

  .wrapper__img_2 {
    max-width: 250px;
  }

  .wrapper__img_2 {
    max-width: 350px;
  }

  .wrapper__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wrapper__contant {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .item__p {
    font-size: 12px;
  }

  .item__h4 {
    font-size: 16px;
  }

  .item__contant {
    flex-direction: column;
    gap: 30px;
  }

  .item__box {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 530px;
    height: 270px;
  }

  .waring {
    height: 650px;
  }

  .waring__contant {
    flex-direction: column;
    gap: 30px;
  }

  .footer__contant {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}

@media (max-width:519px) and (min-width:0px) {
  .nav__ul {
    display: none;
  }

  .bars {
    display: block;
  }

  .header_img_1 {
    max-width: 315px;
  }

  .header__h1 {
    width: 270px;
    font-size: 30px;
  }

  .header__p {
    font-size: 16px;
    max-width: 330px;
  }

  .header__contant {
    flex-direction: column;
    gap: 50px;
  }

  .nav__btn {
    display: none;
  }

  .dis__boxes {
    display: none;
  }

  .header__p {
    font-size: 16px;
    max-width: 330px;
  }

  .header__h3 {
    font-size: 22px;
  }

  .header__p {
    font-size: 16px;
  }

  .nav__img {
    width: 140px;
  }

  .main__img1 {
    max-width: 70px;
  }

  .main__img_big1 {
    max-width: 240px;
  }

  .main__div {
    display: none;
  }

  .main__div2 {
    display: none;
  }

  .main__contant {
    justify-content: center;
  }

  .main__h3 {
    font-size: 28px;
    text-align: center;
    margin: 0px;
    margin-top: 20px;
  }

  .main__p {
    font-size: 16px;
    text-align: center;
    margin: 0px;
    margin-top: 10px;
  }

  .figure__h3 {
    font-size: 24px;
  }

  .figure__p {
    max-width: 343px;
    font-size: 16px;
  }

  .figure__btn {
    display: none;
  }

  .fonts__figure {
    text-align: center;
    margin: 0;
  }

  .figure__img_2 {
    max-width: 280px;
    display: block;
  }

  .figure__img {
    display: none;
  }

  .figure__box1 {
    flex-direction: column;
    gap: 20px;
  }

  .figure__box {
    flex-direction: column;
    gap: 20px;
    margin: 20px;
  }

  .figure__btn2 {
    display: block;
    margin: 20px auto;
  }

  .sec__img {
    max-width: 120px;
  }

  .sec__contant {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .a__img {
    max-width: 270px;
    margin: 0 auto;
  }

  .a__img2 {
    max-width: 270px;
    display: none;
  }

  .a__img3 {
    max-width: 270px;
    display: none;
  }

  .wrapper__img_2 {
    max-width: 250px;
  }

  .wrapper__img_2 {
    max-width: 250px;
  }

  .wrapper__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wrapper__contant {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .item__p {
    font-size: 12px;
  }

  .item__h4 {
    font-size: 16px;
  }

  .item__contant {
    flex-direction: column;
    gap: 30px;
  }

  .item__p {
    display: none;
  }

  .item__box {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 530px;
    height: 270px;
  }

  .waring {
    height: 500px;
  }

  .waring__contant {
    flex-direction: column;
    gap: 30px;
  }

  .cos {
    width: 300px;
  }

  .waring__h2 {
    text-align: center;
    font-size: 24px;
  }

  .waring__p {
    text-align: center;
    font-size: 18px;
  }

  .waring__img {
    margin: 30px 80px;
    width: 200px;
  }

  .footer__contant {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}